build a neural network-based classifier that can determine whether they will leave or not in the next 6 months.

Perform following steps: 
1) Read the dataset.
2) Distinguish the feature and target set and divide the data set into training and test sets.
3) Normalize the train and test data.
4) Initialize and build the model. Identify the points of improvement and implement the same.
5) Print the accuracy score and confusion matrix

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [7]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
X = df.drop('Exited', axis=1)
y = df['Exited']

In [9]:
X = pd.get_dummies(data=X, drop_first=True)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

# Creating neural network model and training it:

In [13]:
nn_model = Sequential()

nn_model.add(Dense(units=32, activation='relu', input_shape=(X_train.shape[1], ))) # Input Layer
nn_model.add(Dense(units=16, activation='relu'))
nn_model.add(Dense(units=1, activation='sigmoid')) # output layer

nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
nn_model.summary()

C:\Users\Admin\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 32)                  │             384 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 16)                  │             528 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              17 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 929 (3.63 KB)

 Trainable params: 929 (3.63 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
nn_model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7244 - loss: 0.5631 - val_accuracy: 0.8206 - val_loss: 0.4302
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7999 - loss: 0.4464 - val_accuracy: 0.8294 - val_loss: 0.4041
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8287 - loss: 0.4143 - val_accuracy: 0.8394 - val_loss: 0.3830
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8419 - loss: 0.3862 - val_accuracy: 0.8500 - val_loss: 0.3629
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8535 - loss: 0.3598 - val_accuracy: 0.8494 - val_loss: 0.3535
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8436 - loss: 0.3665 - val_accuracy: 0.8487 - val_loss: 0.3491
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8579 - loss: 0.3394 - val_accuracy: 0.8544 - val_loss: 0.3465
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8675 - loss: 0.3280 - val_accuracy: 0.8550 - val_loss: 0.3486
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 950us/step - accuracy: 0.8500 - loss: 0.3514 - val_accuracy: 0.8569 - val_loss: 0.3436
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 921us/step - accuracy: 0.8605 - loss: 0.3437 - val_accuracy: 0.8550 - val_loss: 0.3419
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - accuracy: 0.8646 - loss: 0.3283 - val_accuracy: 0.8562 - val_loss: 0.3432
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.8549 - loss: 0.3426 - val_accuracy: 0.8562 - val_loss: 0.3409
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 997us/step - accuracy: 0.8651 - loss: 0.3172 - val_accuracy: 0.8562 - val_loss: 0.3410
Epoch 14/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 991us/step - accuracy: 0.8623 - loss: 0.3281 - val_accuracy: 0.8525 - val_loss: 0.3395
Epoch 15/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 967us/step - accuracy: 0.8719 - loss: 0.3237 - val_accuracy: 0.8556 - val_loss: 0.3418
Epoch 16/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 993us/step - accuracy: 0.8583 - loss: 0.3361 - val_accuracy: 0.8556 - val_loss: 0.3386
Epoch 17/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8656 - loss: 0.3236 - val_accuracy: 0.8544 - val_loss: 0.3412
Epoch 18/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 940us/step - accuracy: 0.8585 - loss: 0.3261 - val_accuracy: 0.8544 - val_loss: 0.3388
Epoch 19/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - accuracy: 0.8657 - loss: 0.3301 - val_accuracy: 0.8550 - val_loss: 0.3388
Epoch 20/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 992us/step - accuracy: 0.8656 - loss: 0.3265 - val_accuracy: 0.8537 - val_loss: 0.3395
Epoch 21/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.8686 - loss: 0.3157 - val_accuracy: 0.8556 - val_loss: 0.3397
Epoch 22/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 996us/step - accuracy: 0.8643 - loss: 0.3245 - val_accuracy: 0.8581 - val_loss: 0.3389
Epoch 23/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 892us/step - accuracy: 0.8677 - loss: 0.3120 - val_accuracy: 0.8556 - val_loss: 0.3387
Epoch 24/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.8608 - loss: 0.3176 - val_accuracy: 0.8556 - val_loss: 0.3398
Epoch 25/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8628 - loss: 0.3201 - val_accuracy: 0.8537 - val_loss: 0.3387
Epoch 26/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step - accuracy: 0.8729 - loss: 0.3088 - val_accuracy: 0.8562 - val_loss: 0.3390
Epoch 27/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8650 - loss: 0.3238 - val_accuracy: 0.8550 - val_loss: 0.3384
Epoch 28/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 902us/step - accuracy: 0.8617 - loss: 0.3228 - val_accuracy: 0.8556 - val_loss: 0.3389
Epoch 29/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 901us/step - accuracy: 0.8655 - loss: 0.3167 - val_accuracy: 0.8531 - val_loss: 0.3387
Epoch 30/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 910us/step - accuracy: 0.8706 - loss: 0.3090 - val_accuracy: 0.8575 - val_loss: 0.3394
Epoch 31/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 915us/step - accuracy: 0.8757 - loss: 0.3000 - val_accuracy: 0.8550 - val_loss: 0.3411
Epoch 32/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.8739 - loss: 0.3062 - val_accuracy: 0.8506 - val_loss: 0.3457
Epoch 33/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.8648 - loss: 0.3205 - val_accuracy: 0.8537 - val_loss: 0.3416
Epoch 34/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.8548 - loss: 0.3348 - val_accuracy: 0.8537 - val_loss: 0.3422
Epoch 35/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 929us/step - accuracy: 0.8696 - loss: 0.3106 - val_accuracy: 0.8519 - val_loss: 0.3403
Epoch 36/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 953us/step - accuracy: 0.8706 - loss: 0.3151 - val_accuracy: 0.8512 - val_loss: 0.3429
Epoch 37/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8589 - loss: 0.3192 - val_accuracy: 0.8537 - val_loss: 0.3423
Epoch 38/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 937us/step - accuracy: 0.8696 - loss: 0.3031 - val_accuracy: 0.8519 - val_loss: 0.3435
Epoch 39/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 944us/step - accuracy: 0.8760 - loss: 0.2936 - val_accuracy: 0.8550 - val_loss: 0.3417
Epoch 40/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - accuracy: 0.8740 - loss: 0.3037 - val_accuracy: 0.8550 - val_loss: 0.3425
Epoch 41/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step - accuracy: 0.8763 - loss: 0.2951 - val_accuracy: 0.8525 - val_loss: 0.3442
Epoch 42/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.8679 - loss: 0.3089 - val_accuracy: 0.8481 - val_loss: 0.3440
Epoch 43/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 936us/step - accuracy: 0.8714 - loss: 0.3148 - val_accuracy: 0.8500 - val_loss: 0.3449
Epoch 44/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8693 - loss: 0.3079 - val_accuracy: 0.8556 - val_loss: 0.3446
Epoch 45/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - accuracy: 0.8804 - loss: 0.2905 - val_accuracy: 0.8487 - val_loss: 0.3441
Epoch 46/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 909us/step - accuracy: 0.8709 - loss: 0.3019 - val_accuracy: 0.8575 - val_loss: 0.3461
Epoch 47/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.8872 - loss: 0.2824 - val_accuracy: 0.8519 - val_loss: 0.3469
Epoch 48/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 882us/step - accuracy: 0.8730 - loss: 0.2971 - val_accuracy: 0.8556 - val_loss: 0.3466
Epoch 49/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - accuracy: 0.8813 - loss: 0.2874 - val_accuracy: 0.8500 - val_loss: 0.3460
Epoch 50/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 882us/step - accuracy: 0.8791 - loss: 0.2918 - val_accuracy: 0.8575 - val_loss: 0.3513

In [15]:
y_pred = nn_model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [16]:
y_pred

array([[0.01236941],
       [0.00407542],
       [0.07601067],
       ...,
       [0.5795404 ],
       [0.12495109],
       [0.23634158]], dtype=float32)

In [17]:
F_pred = (y_pred>0.5)
F_pred

array([[False],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [19]:
acc = accuracy_score(y_test, F_pred)
conf = confusion_matrix(y_test, F_pred)

In [20]:
print("The confusion matrix is: \n", conf)
print("\nThe accuracy is: ", acc)

The confusion matrix is:
 [[1550   57]
 [ 230  163]]

The accuracy is:  0.8565